<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
<header class="bg-secondary text-white py-3">
    <div class="container">
        <div class="row align-items-center">
            <!-- Logo Section -->
            <div class="col-md-3">
                <h1 class="h2 mb-0">Cat</h1>
            </div>

            <!-- Navigation Section -->
            <div class="col-md-8">
                <nav>
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/products/all">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/categories/all">Categories</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
