<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Products List</title>
    <style>
        .table-container {
            padding: 20px;
        }
        .table td a {
            display: block;
            color: inherit;
            text-decoration: none;
        }
        .table tr:hover {
            background-color: #f8f9fa; /* Light background on row hover */
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="container table-container">
    <h1 class="mb-4">Products List</h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th th:if="${isAdmin}">Modifications</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td><a th:href="@{'/products/' + ${product.id}}" th:text="${product.id}">ID</a></td>
                <td><a th:href="@{'/products/' + ${product.id}}" th:text="${product.name}">Name</a></td>
                <td><a th:href="@{'/products/' + ${product.id}}" th:text="${product.description}">Description</a></td>
                <td><a th:href="@{'/products/' + ${product.id}}" th:text="${product.price}">Price</a></td>
                <td><a th:href="@{'/products/' + ${product.id}}" th:text="${product.category.getName()}">Category Name</a></td>
                <td th:if="${isAdmin}">
                    <a th:href="@{'/products/moderate/' + ${product.id} + '/delete'}" class="btn btn-danger btn-sm" role="button">Delete</a>
                    <a th:href="@{'/products/moderate/' + ${product.id} + '/edit'}" class="btn btn-primary btn-sm" role="button">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
