<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Products list</title>
</head>
<body>

<h1>Products list</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image urls</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}">Product name</td>
        <td th:text="${product.description}">Product description</td>
        <td th:text="${product.price}">Product price</td>
        <td th:text="${product.imagesUrls}">Image urls</td>
    </tr>
    </tbody>
</table>

</body>
</html>